<div style="margin-left: 25%; padding: 1px 16px; height: 1000px;">
    <table style="width: 80%">
        <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Item Name
            </th>
            <th>
                Item Price
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor = "let item of item">
            <td>
                {{ item.id }}
            </td>
            <td>
                {{ item.name }}
            </td>
            <td>
                {{ item.price }}
            </td>
        </tr>
        </tbody>
    </table>
</div>