<div>
    <ul>
        <li><a routerLink = "items"  routerLinkActive="active-link" >List Items</a></li>
        <li><a routerLink = "customer" routerLinkActive="active-link">Display customer details</a></li>
        <li>Add Customer</li>
        <li>Delete Customer</li>
        <li>Delete Item</li>
        <li>Add stock</li>
        <li>Display Purchase Details</li>
        <li>Display Item Orders</li>
        <button (click) = "clicked()"><li>Logout</li></button>
    </ul>
</div>
<router-outlet></router-outlet>